{% extends "portal/base_auth.html" %}
{% block auth_title %}Choose a new password{% endblock %}
{% block auth %}
<h1>Choose a new password</h1>
{% if validlink %}
<form class="form" method="post" novalidate>{% csrf_token %}{% include "web/_form_field.html" with f=form.new_password1 %}{% include "web/_form_field.html" with f=form.new_password2 %}<button class="btn btn-primary btn-block" type="submit">Save password</button></form>
{% else %}
<div class="banner bad">This reset link is invalid or has expired.</div>
<p><a class="btn btn-secondary" href="{% url 'portal:password_reset' %}">Request a new link</a></p>
{% endif %}
{% endblock %}
