{% extends "portal/base_auth.html" %}
{% load i18n %}
{% block auth_title %}{% translate "Choose a new password" %}{% endblock %}
{% block auth %}
<h1>{% translate "Choose a new password" %}</h1>
{% if validlink %}
<form class="form" method="post" novalidate>{% csrf_token %}{% include "web/_form_field.html" with f=form.new_password1 %}{% include "web/_form_field.html" with f=form.new_password2 %}<button class="btn btn-primary btn-block" type="submit">{% translate "Save password" %}</button></form>
{% else %}
<div class="banner bad">{% translate "This reset link is invalid or has expired." %}</div>
<p><a class="btn btn-secondary" href="{% url 'portal:password_reset' %}">{% translate "Request a new link" %}</a></p>
{% endif %}
{% endblock %}
