{% extends "portal/base_auth.html" %}
{% load i18n %}
{% block auth_title %}{% translate "Reset password" %}{% endblock %}
{% block auth %}
<h1>{% translate "Reset your password" %}</h1>
<p class="muted">{% translate "Enter the email you registered with and we'll send you a reset link." %}</p>
<form class="form" method="post" novalidate>{% csrf_token %}{% include "web/_form_field.html" with f=form.email %}<button class="btn btn-primary btn-block" type="submit">{% translate "Send reset link" %}</button></form>
<p class="center small" style="margin-top:16px"><a href="{% url 'portal:login' %}">{% translate "Back to sign in" %}</a></p>
{% endblock %}
