{% load i18n %}{% comment %}Driver application. Expects `form` (DriverApplyForm). Posts to the drivers page.{% endcomment %}
<form class="form" method="post" action="{% url 'web:drivers' %}#apply">
  {% csrf_token %}
  {{ form.website }}
  {% if form.non_field_errors %}<div class="banner bad">{{ form.non_field_errors|join:" " }}</div>{% endif %}
  <div class="form-row">
    {% include "web/_form_field.html" with f=form.first_name hide_optional=True %}
    {% include "web/_form_field.html" with f=form.last_name hide_optional=True %}
  </div>
  <div class="form-row">
    {% include "web/_form_field.html" with f=form.email hide_optional=True %}
    {% include "web/_form_field.html" with f=form.phone hide_optional=True %}
  </div>
  {% include "web/_form_field.html" with f=form.city hide_optional=True %}
  <div class="form-row">
    {% include "web/_form_field.html" with f=form.vehicle_type hide_optional=True %}
    {% include "web/_form_field.html" with f=form.vehicle_year hide_optional=True %}
  </div>
  {% include "web/_form_field.html" with f=form.message hide_optional=True %}
  {% include "web/_form_field.html" with f=form.over_21 %}
  <button class="btn btn-primary btn-lg btn-block" type="submit">{% translate "Send my application" %}</button>
  <p class="form-note center">{% translate "Takes two minutes. We'll reply by phone or email, usually the same business day. No obligation." %}</p>
</form>
